absl-py==2.3.0
aiohttp==3.11.18
anyio==4.10.0
appnope
argon2-cffi
astunparse
async-timeout==5.0.1
async-generator
attrs==25.3.0
Babel
backcall==0.2.0
backports.functools-lru-cache
bleach
blinker
brotlipy
cached-property
cachetools==5.5.2
certifi==2025.8.3
cffi
chardet
charset-normalizer==3.4.3
clang
click==8.1.8
colorama
cryptography
cycler==0.12.1
dataclasses
debugpy==1.6.7
decorator==5.1.1
defusedxml
dill==0.3.8
entrypoints
filelock==3.19.1
flatbuffers
future
gast
google-auth==2.40.1
google-auth-oauthlib
google-pasta
googleapis-common-protos==1.70.0
grpcio==1.71.0
h5py
huggingface-hub==0.34.4
idna==3.10
importlib_metadata==8.7.0
importlib-resources
ipykernel==6.23.0
ipython==8.13.2
ipython-genutils
jedi==0.18.2
Jinja2==3.1.3
joblib==1.4.2
json5
jsonschema
jupyter_client==8.2.0
jupyter_core==5.3.0
kiwisolver==1.4.8
Markdown==3.8.1
MarkupSafe==2.1.5
matplotlib==3.10.3
matplotlib-inline==0.1.6
mistune
multidict==6.4.3
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio==1.5.6
nltk==3.9.1
numpy==2.2.6
oauthlib
olefile
opt-einsum
packaging==25.0
pandas==2.2.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==11.0.0
prometheus-client
promise==2.3
prompt-toolkit==3.0.38
protobuf==5.29.4
ptyprocess==0.7.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser
Pygments==2.15.1
PyJWT
pyOpenSSL
pyparsing==3.2.3
pyrsistent
PySocks
python-dateutil==2.9.0.post0
pytorch-crf==0.7.2
pytz==2025.2
pyu2f
PyYAML==6.0.2
pyzmq==25.0.2
regex==2025.7.34
requests==2.32.5
requests-oauthlib
rsa==4.9.1
sacremoses
scikit-learn==1.6.1
scipy==1.15.2
Send2Trash
six==1.17.0
sniffio==1.3.1
tensorboard==2.19.0
tensorboard-data-server==0.7.2
termcolor
terminado
testpath
threadpoolctl==3.6.0
tokenizers==0.13.3
#torch==2.8.0+cu126
torchao==0.12.0
#torchaudio==2.7.0+cu118
#torchvision==0.23.0+cu126
tornado==6.3.1
tqdm==4.67.1
traitlets==5.9.0
transformers==4.30.2
typing_extensions==4.14.1
urllib3==2.5.0
wcwidth==0.2.6
webencodings
websocket-client
Werkzeug==3.1.3
wrapt==1.17.2
yarl==1.20.0
zipp==3.23.0
